<div class="content-nav">
    <a href="profile" <%if (active === 'profile') {%>class="active"<%}%>>Публікації</a>
    <a href="profile_info" <%if (active === 'info') {%>class="active"<%}%>>Інформація</a>
    <a href="friends" >Друзі (9)</a>
    <a href="my_messages" >Сповіщення</a>
</div>