<div class="aside-line"></div>

<ul class="my-profile-sections">
    <li class="section-row"><a href="friends"><img src="../public/folder/svg/people.svg" alt=""></a></li>
    <li class="section-row"><a href="my_messages"><img src="../public/folder/svg/notification.svg" alt=""></a></li>
    <li class="section-row"><a href=""><img src="../public/folder/svg/groups.svg" alt=""></a></li>
    <li class="section-row"><a href=""><img src="../public/folder/svg/news.svg" alt=""></a></li>
    <li class="section-row"><a href=""><img src="../public/folder/svg/history.svg" alt=""></a></li>
    <li class="section-row"><a href=""><img src="../public/folder/svg/selected.svg" alt=""></a></li>
</ul>

<div class="aside-line"></div>

<ul class="optional-profile-sections">
    <li class="section-row"><a href=""><img src="../public/folder/svg/volunteers.svg" alt=""></a>
    <li class="section-row"><a href=""><img src="../public/folder/svg/organization.svg" alt=""></a>
    <li class="section-row"><a href=""><img src="../public/folder/svg/projects.svg" alt=""></a>
    <li class="section-row"><a href=""><img src="../public/folder/svg/childrendreams.svg" alt=""></a>
    <li class="section-row"><a href=""><img src="../public/folder/svg/partners.svg" alt=""></a>
    <li class="section-row"><a href=""><img src="../public/folder/svg/faqqq.svg" alt=""></a>
</ul>