<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>

    <link rel="icon" type="image/x-icon" href="../../dopomoga-frontend-master/public/favicon.ico">
    <link rel="stylesheet" href="../public/css/header_login.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/friends_in_menu.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@500&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
  </head>

  <body>

  <%- include('./partials/header');%>
  
    <main>
      <aside>
        <div class="left-aside">
            <a href=""><img id="avatar" src="../public/folder/image/img_11.png" alt=""></a>
      
            <a href=""><h3 class="my-profile-text">Мій профіль</h3></a>

            <div class="aside-line"></div>

            <ul class="my-profile-sections">
                <li class="section-row"><a href=""><img src="../public/folder/svg/people.svg" alt=""></a></li>
                <li class="section-row"><a href=""><img src="../public/folder/svg/notification.svg" alt=""></a></li>
                <li class="section-row"><a href=""><img src="../public/folder/svg/groups.svg" alt=""></a></li>
                <li class="section-row"><a href=""><img src="../public/folder/svg/news.svg" alt=""></a></li>
                <li class="section-row"><a href=""><img src="../public/folder/svg/history.svg" alt=""></a></li>
                <li class="section-row"><a href=""><img src="../public/folder/svg/selected.svg" alt=""></a></li>
            </ul>

            <div class="aside-line"></div>

            <ul class="optional-profile-sections">
                <li class="section-row"><a href=""><img src="../public/folder/svg/volunteers.svg" alt=""></a>
                <li class="section-row"><a href=""><img src="../public/folder/svg/organization.svg" alt=""></a>
                <li class="section-row"><a href=""><img src="../public/folder/svg/projects.svg" alt=""></a>
                <li class="section-row"><a href=""><img src="../public/folder/svg/childrendreams.svg" alt=""></a>
                <li class="section-row"><a href=""><img src="../public/folder/svg/partners.svg" alt=""></a>
                <li class="section-row"><a href=""><img src="../public/folder/svg/faqqq.svg" alt=""></a>
            </ul>

            <a width="180px" height="208px" href=""><img src="../public/folder/svg/want-help.svg" alt=""></a>

            <div class="left-nav">
                <a href="" class="link">Конфіденційність</a>
                <a href="" class="link">Правила</a>
                <a href="" class="link">Реклама</a>
                <a href="" class="link">Написати нам</a>
            </div>
        </div>
    </aside>

      <div class="content">
        <div class="friends-nav">
          <a href="" class="active">Всі (9)</a>
          <a href="">В мережі (3)</a>
          <a href="">Рекомендовано</a>
          <a href="">Запрошення</a>
          <input class="friends-search" type="text" placeholder="Пошук">
        </div>
            <div class="friends">
                    <div class="friend">
                        <div class="ava-set">
                            <a href=""><img class="friend-avatar" src="../public/assets/person/9.png" alt=""></a>
                            <a class="edit-review" href=""><img src="../public/folder/svg/settings.svg" alt=""></a>
                        </div>
                        <a class="friend-name" href=""><span>Марія Вовк</span></a>
                    </div>
                    <div class="friend">
                        <div class="ava-set">
                            <a href=""><img class="friend-avatar" src="../public/assets/person/9.png" alt=""></a>
                            <a class="edit-review" href=""><img src="../public/folder/svg/settings.svg" alt=""></a>
                        </div>
                        <a class="friend-name" href=""><span>Марія Вовк</span></a>
                    </div>
                    <div class="friend">
                        <div class="ava-set">
                            <a href=""><img class="friend-avatar" src="../public/assets/person/9.png" alt=""></a>
                            <a class="edit-review" href=""><img src="../public/folder/svg/settings.svg" alt=""></a>
                        </div>
                        <a class="friend-name" href=""><span>Марія Вовк</span></a>
                    </div>
                    <div class="friend">
                        <div class="ava-set">
                            <a href=""><img class="friend-avatar" src="../public/assets/person/9.png" alt=""></a>
                            <a class="edit-review" href=""><img src="../public/folder/svg/settings.svg" alt=""></a>
                        </div>
                        <a class="friend-name" href=""><span>Марія Вовк</span></a>
                    </div>
                    <div class="friend">
                        <div class="ava-set">
                            <a href=""><img class="friend-avatar" src="../public/assets/person/9.png" alt=""></a>
                            <a class="edit-review" href=""><img src="../public/folder/svg/settings.svg" alt=""></a>
                        </div>
                        <a class="friend-name" href=""><span>Марія Вовк</span></a>
                    </div>
                    <div class="friend">
                        <div class="ava-set">
                            <a href=""><img class="friend-avatar" src="../public/assets/person/9.png" alt=""></a>
                            <a class="edit-review" href=""><img src="../public/folder/svg/settings.svg" alt=""></a>
                        </div>
                        <a class="friend-name" href=""><span>Марія Вовк</span></a>
                    </div>
                    <div class="friend">
                        <div class="ava-set">
                            <a href=""><img class="friend-avatar" src="../public/assets/person/9.png" alt=""></a>
                            <a class="edit-review" href=""><img src="../public/folder/svg/settings.svg" alt=""></a>
                        </div>
                        <a class="friend-name" href=""><span>Марія Вовк</span></a>
                    </div>
                    <div class="friend">
                        <div class="ava-set">
                            <a href=""><img class="friend-avatar" src="../public/assets/person/9.png" alt=""></a>
                            <a class="edit-review" href=""><img src="../public/folder/svg/settings.svg" alt=""></a>
                        </div>
                        <a class="friend-name" href=""><span>Марія Вовк</span></a>
                    </div>
                    <div class="friend">
                        <div class="ava-set">
                            <a href=""><img class="friend-avatar" src="../public/assets/person/9.png" alt=""></a>
                            <a class="edit-review" href=""><img src="../public/folder/svg/settings.svg" alt=""></a>
                        </div>
                        <a class="friend-name" href=""><span>Марія Вовк</span></a>
                    </div>
                    <div class="friend">
                        <div class="ava-set">
                            <a href=""><img class="friend-avatar" src="../public/assets/person/9.png" alt=""></a>
                            <a class="edit-review" href=""><img src="../public/folder/svg/settings.svg" alt=""></a>
                        </div>
                        <a class="friend-name" href=""><span>Марія Вовк</span></a>
                    </div>
                    <div class="friend">
                        <div class="ava-set">
                            <a href=""><img class="friend-avatar" src="../public/assets/person/9.png" alt=""></a>
                            <a class="edit-review" href=""><img src="../public/folder/svg/settings.svg" alt=""></a>
                        </div>
                        <a class="friend-name" href=""><span>Марія Вовк</span></a>
                    </div>
                    <div class="fake">
                    </div>
            </div>
      </div>

      
    </main>    
  </body>
</html>
