main {
    margin-left: 170px;
}

.friends-nav {
    width: 932px;
    height: 41px;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  }
  
.friends-nav a{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #757575;
}

.friends-nav .active {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #2D7581;
}

.friends {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;

    width: 932px;

    height: auto;
}

.friends-search {
    text-indent: 10px;

    width: 251px;
    height: 28px;

    border-style: none;
    background: #FFFFFF;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.friends-search::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    color: #757575;
}

.friend {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    width: 221px;
    height: 221px;

    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.friend .friend-avatar {
    border-radius: 54px;
    margin-top: 10px;
    width: 108px;
    height: 108px;
}

.ava-set {
    margin-top: 15px;
    margin-left: 15px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.friend-name {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;

    color: #2C2C2C;

}

a {
    cursor: pointer;
}

.fake {
    width: 221px;
    height: 221px;
}

.left-aside {
    margin-left: -150px;
}

